<!-- registered-info.component.html -->
<div class="container-fuild border border-2 p-3">
    <h1 class="display-3 text-primary ">Registered Information</h1>
    <hr>
  
    <div class="mb-3" >
        <label for="book-name" class="col-form-label" style="font-size: large">NAME      {{ Name }}</label>
    </div>
  
    <div class="mb-3">
        <label for="book-name" class="col-form-label" style="font-size: large">UserName:    {{ Username }}</label>
    </div>

    <div class="mb-3">
        <label for="book-name" class="col-form-label" style="font-size: large">Profession:    {{ Profession }}</label>

    </div>
  
    
   
    <div class="mb-3">
        <label for="book-name" class="col-form-label" style="font-size: large">phoneNumber:   {{ PhoneNumber }}</label>
    </div>

    <div class="mb-3">
        <label for="book-name" class="col-form-label" style="font-size: large">Address    {{ Address }}</label>
      </div>
    <!-- Add other fields as needed -->
  </div>
  